body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/univers-de-mots-512x512.png");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.05;
  z-index: -1;
}
